*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



/*nav bar start*/
nav{
	height: 50px;
	width: 100vw;
	background-color: #fff;
	padding: 1rem;
	margin-bottom: 2rem;
	top: 0;
	position: sticky;
}

nav ul{
	list-style-type: none;
}

nav .nav-logo, nav .nav{
	display: inline;
}

ul .nav-logo{
	position: absolute;
	top: 25%;
	margin-left: 10%;
}

.right-nav li{
  font-size: 1.2rem;
  position: relative;
  left: 48%;
  top: 20%;
  padding: 0.5rem;

}

/*nav bar end*/

/*tuitt button*/
.tuitt-button{
	padding: 0.8rem;
	border-radius: 30px;
	background-color: #c2195b;
	color: #fff;
	border: 1px solid white;
}

/*Landing Page*/

#bg-image{
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

}

.front-bg{
	background-color: rgba(0, 0, 0, 0.5);
}

.container .title{
	font-size: 3rem;
	text-align: right;
	color: #fff;
	text-indent: 55%;
	margin-right: 5%;
	font-family: 'Zilla Slab', serif;
}

.container .subtitle{
	width: 30%;
	color: #fff;
	margin-left: 65%;
	text-align: right;
	font-weight: thin;
}

.apply-button{
	width: 12%;
	margin-left: 83%;
	padding: 0.8rem;
	border-radius: 30px;
	background-color: #c2195b;
	color: #fff;
	border: 1px solid white;
}

.intro .title-2{
    font-family: 'Zilla Slab', serif;
    text-align: center;
    margin-top: 55px;
    height: 30vh;
    font-weight: bold;
    font-size: 3rem;
}

.intro .intro-description{
	font-size: 1.2rem;
	font-weight: lighter;
	text-align: left;
	height: 30vh;
	width: 70%;
	margin: 0 auto;
}

.pre-footer{
	background-color: #f7fbfb;
}

.pre-footer .title-2{
	font-family: 'Zilla Slab', serif;
	text-align: center;
	padding: 30px;
	height: 20vh;
	font-size: 2rem;
}

.pre-footer .prefooter-description{
	text-align: center;
	font-size: 1.2rem;
	height: 20vh;
}

.book-button{
    background-color: #336589;
    border-radius: 30px;
    padding: 10px 30px;
    margin-left: 45%;
}

footer {
	margin-left: 0.8rem;
	padding: 1rem;
    text-align: center;
}

footer span{
	padding: 0.8rem;
}